# 1. Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order

In [1]:
lst = [33,89,26,44,'github']
lst

[33, 89, 26, 44, 'github']

In [2]:
#i) To add new elements to the end of the list
lst.append(82)  #---append is used to add single element to the list
lst.extend([11, 'anaconda',77])  #--extend used to add multiple elements to the list
lst

[33, 89, 26, 44, 'github', 82, 11, 'anaconda', 77]

In [8]:
#ii) To reverse elements in the list
lst.reverse()
lst

[77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33]

In [11]:
#iii)To display the same list of elements multiple times.
lst_mul= lst*4
print('\n' ,lst_mul)

 [77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33, 77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33, 77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33, 77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33]

In [12]:
#iv) To concatenate two list
lst2= [75,90,2,77,88]
conc_lst= lst+lst2
conc_lst

[77, 'anaconda', 11, 82, 'github', 44, 26, 89, 33, 75, 90, 2, 77, 88]

In [22]:
#v) To sort the elements in the list in ascending order
lst2.sort()
lst2

[2, 75, 77, 88, 90]

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order

In [32]:
#i) Manipulate using tuples
my_tuple = (1, 15, 33, 78, 'hello')
temp=list(my_tuple)
temp.append(69)
temp.pop(-2)
my_tuple2= tuple(temp)
my_tuple2

(1, 15, 33, 78, 69)

In [38]:
#ii) To add new elements to the end of the tuples
add_to_my_tuple = my_tuple2 + (99,88,66)
add_to_my_tuple

(1, 15, 33, 78, 69, 99, 88, 66)

In [42]:
#iii) To reverse elements in the list
temp=list(my_tuple2)
temp.reverse()
rev_tuple=tuple(temp)
rev_tuple

(69, 78, 33, 15, 1)

In [44]:
#iv) To display the elements of the same tuple multiple times.
Mul_tuple = my_tuple2 *5
print(Mul_tuple, '\n')

(1, 15, 33, 78, 69, 1, 15, 33, 78, 69, 1, 15, 33, 78, 69, 1, 15, 33, 78, 69, 1, 15, 33, 78, 69)

In [46]:
#v) To concatenate two tuples
conc_tuple =my_tuple2+my_tuple
conc_tuple

(1, 15, 33, 78, 69, 1, 15, 33, 78, 'hello')

In [57]:
#vi) To sort the elements in the list in ascending order
Asc_tuple=sorted(add_to_my_tuple)
Asc_tuple.sort()
sorted_tuple=tuple(Asc_tuple)
sorted_tuple

(1, 15, 33, 66, 69, 78, 88, 99)

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list[:6]

In [52]:
#i) Create a list with integers (minimum 10 numbers)
my_lst=[11,22,45,69,66,13,35,16,12,19,9]
my_lst

[11, 22, 45, 69, 66, 13, 35, 16, 12, 19, 9]

In [54]:
#ii) How to display the last number in the list
my_lst[-1]

9

In [58]:
#iii) Command for displaying the values from the list [0:4]
my_lst[0:4]

[11, 22, 45, 69]

In [59]:
#iv) Command for displaying the values from the list [2:]
my_lst[2:]

[45, 69, 66, 13, 35, 16, 12, 19, 9]

In [60]:
#v) Command for displaying the values from the list[:6]
my_lst[:6]

[11, 22, 45, 69, 66, 13]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i. To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple tim

In [61]:
 tuple1 = (10,50,20,40,30)
 tuple1

(10, 50, 20, 40, 30)

In [65]:
#i. To display the elements 10 and 50 from tuple1
tuple1[:2]

(10, 50)

In [66]:
#ii. To display the length of a tuple1.
len(tuple1)

5

In [67]:
#iii. To find the minimum element from tuple1.
min(tuple1)

10

In [70]:
temp=list(tuple1)
total=sum(temp)
total

150

In [72]:
#v. To display the same tuple1 multiple tim
tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

iv. To concatenate two strings

v. Str1=” South India”, using string slicing to display “India

In [73]:
s='Banglore'
s

'Banglore'

In [74]:
#i. To calculate the length of a string
len(s)

8

In [75]:
#ii. To reverse words in a string
s[::-1]

'erolgnaB'

In [76]:
#iii. To display the same string multiple times
s*4

'BangloreBangloreBangloreBanglore'

In [80]:
#iv. To concatenate two strings
str1='South India'
conc_str= s + str1
conc_str

'BangloreSouth India'

In [81]:
#v. Str1=” South India”, using string slicing to display “India
str1[6:]

'India'

# 6. Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values

In [1]:
#i) Creating the Dictionary.
person={'f_name':'carter', 'l_name':'john', 'age':33, 'country':'USA'}
person

{'f_name': 'carter', 'l_name': 'john', 'age': 33, 'country': 'USA'}

In [8]:
#ii) Accessing values and keys in the Dictionary.
person['f_name']
person.get('age')
person.values()
person.keys()

dict_keys(['f_name', 'l_name', 'age', 'country'])

In [16]:
#iii) Updating the dictionary using a function.
person.update({'country':'Europe'})

person

{'f_name': 'carter', 'l_name': 'john', 'age': 33, 'country': 'Europe'}

In [20]:
#iv) Clear and delete the dictionary values
del person['age']
person.clear()
person

{}

# 7. Python program to insert a number to any position in a list.

In [22]:
lst=[2,3,8,9,'hunt', 77, 88]
lst.insert(2,10)
lst

[2, 3, 10, 8, 9, 'hunt', 77, 88]

# 8. Python program to delete an element from a list by index.

In [1]:
lst=[2, 3, 10, 8, 9, 'hunt', 77, 88]
del lst[2]
lst

[2, 3, 8, 9, 'hunt', 77, 88]

# 9. Write a program to display a number from 1 to 100.

In [7]:
i=1
while i<=100:
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a Python program to find the sum of all items in a tuple.

In [9]:
mytuple=(23,47,88,36,48,32,21)
sum(mytuple)

295

# 11. Create a dictionary containing three lambda functions square, cube and square root.

i) E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot':

function for square root}

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

In [ ]:
my_dict={}

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

In [11]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
second_upper = []
for word in ls:
    if word[1].isupper():
        second_upper.append(word)
print("Words with the second character in uppercase:", second_upper)

Words with the second character in uppercase: ['hOw', 'ARe']

# Control Structures:

1. Write a python program to find the first N Prime numbers.

In [20]:
def prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if(n%i==0):
            return False
        else:
            return True
        
N=int(input("enter a number:"))
for i in range(N+1):
    if prime(i):
        print(i, end=" ")

enter a number:100
3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# 2.Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct

10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [21]:
Basic_salary=float(input('enter the basic salary: ' ))
hra=float(input('enter the HRA: '))
ta=float(input('enter the TA: '))
da=float(input('enter the DA: '))
Gross_salary=Basic_salary+hra+ta+da
tax=0.10*Gross_salary
net_salary=Gross_salary-tax
print(net_salary)

enter the basic salary: 33000
enter the HRA: 2000
enter the TA: 4000
enter the DA: 500
35550.0

# 3. Write a python program to search for a string in the given list.

In [23]:
lst=['apple','orange','papaya','guava','jackfruit','mango']
s='mango'
if s in lst:
    print('the string is present in lst')
else:
    print('string is not present in lst')

the string is present in lst

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [29]:
def count(strng):
    upper_count=0
    lower_count=0
    for char in strng:
        if char.isupper():
            upper_count+=1
        else:
            lower_count+=1
    return upper_count, lower_count
strng="HelloWorLD"
upper,lower=count(strng)
print("No.of upper case letters: ", upper)
print("No. of lower case letters: ", lower)

No.of upper case letters:  4
No. of lower case letters:  6

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [33]:
s_odd=0
s_even=0
for i in range(12,38):
    if i%2==0:
        s_even+=i
    else:
        s_odd+=i
print('sum of even numbers: ', s_even) 
print('sum of odd numbers: ', s_odd)

sum of even numbers:  312
sum of odd numbers:  325

# 6. Write a python Program to print the table of any number.

In [35]:
n=int(input())
for i in range(1,11):
    print(n, 'X', i, "=", n*i)

12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

# 7. Write a Python program to sum the first 10 prime numbers.

In [54]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True  

prime_count = 0
total_sum = 0
num = 1

while prime_count < 10:  
    
    if prime(num):
        total_sum += num
        prime_count += 1
    num += 1
    
print(total_sum)

129