In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [3]:
df=pd.read_csv('udayk.csv')
df

      Living Area  Bathrooms  Bedrooms  Lot Size  Age  Fireplace   Price
0            1982        1.0         3      2.00  133          0  142212
1            1676        1.5         3      0.38   14          1  134865
2            1694        2.0         3      0.96   15          1  118007
3            1800        1.0         2      0.48   49          1  138297
4            2088        1.0         3      1.84   29          1  129470
...           ...        ...       ...       ...  ...        ...     ...
1042         1802        2.0         4      0.97   56          1  107695
1043         3239        3.5         4      2.50    1          1  236737
1044         1440        2.0         2      0.61   66          1  154829
1045         2030        2.5         3      1.00    3          1  179492
1046         2097        2.5         3      1.93   10          1  189108

[1047 rows x 7 columns]

In [4]:
df.isna().sum()

Living Area    0
Bathrooms      0
Bedrooms       0
Lot Size       0
Age            0
Fireplace      0
Price          0
dtype: int64

In [6]:
x=df.iloc[:,0:-1]
x

      Living Area  Bathrooms  Bedrooms  Lot Size  Age  Fireplace
0            1982        1.0         3      2.00  133          0
1            1676        1.5         3      0.38   14          1
2            1694        2.0         3      0.96   15          1
3            1800        1.0         2      0.48   49          1
4            2088        1.0         3      1.84   29          1
...           ...        ...       ...       ...  ...        ...
1042         1802        2.0         4      0.97   56          1
1043         3239        3.5         4      2.50    1          1
1044         1440        2.0         2      0.61   66          1
1045         2030        2.5         3      1.00    3          1
1046         2097        2.5         3      1.93   10          1

[1047 rows x 6 columns]

In [7]:
y=df.iloc[:,-1:]
y

       Price
0     142212
1     134865
2     118007
3     138297
4     129470
...      ...
1042  107695
1043  236737
1044  154829
1045  179492
1046  189108

[1047 rows x 1 columns]

In [24]:
xtrain, xtest, ytrain, ytest=train_test_split(x,y, test_size=0.25, random_state=2)

In [25]:
xtrain.shape

(785, 6)

In [26]:
xtest.shape

(262, 6)

In [11]:
ytest.shape

(262, 1)

In [27]:
ytrain.shape

(785, 1)

In [28]:
print("*****Base Regression*****")
print()
print("*****Training Started*****")
print()
base_reg=LinearRegression()
base_reg.fit(xtrain, ytrain)
base_pred=base_reg.predict(xtest)
from sklearn.metrics import r2_score
print('Base Train_score:\t', base_reg.score (xtrain,ytrain))
print()
print('Base Test_Score:\t', base_reg.score (xtest,ytest))
print()
print('R-Square:\t ', r2_score (ytest, base_pred))

*****Base Regression*****

*****Training Started*****

Base Train_score:	 0.643548275810008

Base Test_Score:	 0.6519451449264311

R-Square:	  0.6519451449264311

In [35]:
print("*************Lasso Regression Model*************")
print()
print("************Training Started********************")
print()
lr=Lasso(alpha=0.01)
lr.fit(xtrain,ytrain)
lr_pred=lr.predict(xtest)
print("Lasso Train Score:\t ", lr.score(xtrain,ytrain))
print()
print("Lasso Test Score:\t ", lr.score(xtest,ytest))
print()
print("Lasso R-Square:\t ", r2_score (ytest, lr_pred))

*************Lasso Regression Model*************

************Training Started********************

Lasso Train Score:	  0.6435482758096451

Lasso Test Score:	  0.6519450245090761

Lasso R-Square:	  0.6519450245090761

In [33]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, lr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, lr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,lr_pred))

Mean Squared Error: 	 1588372341.8579717

RMSE: 	 39854.38924206431

Mean Absolute Error: 	 28294.15983136759

In [37]:
print("*************Ridge Regression Model*************")
print()
print("************Training Started********************")
print()
rr=Ridge(alpha=0.01)
rr.fit(xtrain,ytrain)
rr_pred=rr.predict(xtest)
print("Lasso Train Score:\t ", rr.score(xtrain,ytrain))
print()
print("Lasso Test Score:\t ", rr.score(xtest,ytest))
print()
print("Lasso R-Square:\t ", r2_score (ytest, rr_pred))

*************Ridge Regression Model*************

************Training Started********************

Lasso Train Score:	  0.6435482757550582

Lasso Test Score:	  0.6519438594699876

Lasso R-Square:	  0.6519438594699876

In [36]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, rr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, rr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,rr_pred))

Mean Squared Error: 	 1588377658.5923839

RMSE: 	 39854.45594400184

Mean Absolute Error: 	 28294.159049408532